*{
    background-color: black;
}

h1{
 color: white;
 font-family: "Libre Baskerville", serif;
 text-align: center;
 text-transform: uppercase;
 font-size: 3rem;
}

.motivational-img{
    border: 5px solid white;
    width: 100%;
}

p{
    color: white;
    text-align: center;
    font-family: "Libre Baskerville", serif;
}

.poster{
    width: 50%;
    margin-left: 25%;
    margin-top:100px;
}